# Pandas

In [1]:
import pandas as pd

In [2]:
# Create a series from  a list
ice_cream = ['vanilla','chocolate','strawberry','butter']
pd.Series(ice_cream)

0       vanilla
1     chocolate
2    strawberry
3        butter
dtype: object

In [3]:
#Can change the indexes as you want
ind = ['Monday','Tuesday','Thursday','Friday']
pd.Series(data=ice_cream, index= ind)

Monday         vanilla
Tuesday      chocolate
Thursday    strawberry
Friday          butter
dtype: object

In [4]:
#Creating a series from the dictionary
#Keys- Considered as indexes, values- Considered as the values
d= {'apple': 'fruit',
    'dog': 'animal',
    'carrot': 'vegitable',
    'dragon': 'fruit'
   }
new_series = pd.Series(d)
new_series

apple         fruit
dog          animal
carrot    vegitable
dragon        fruit
dtype: object

### Change the path of the import file

In [5]:
# Current directory- 'C:users/mani/python/data'
#cd - change directory
#../ one step up(immediate parent)- 'C:users/mani/python'
#../..- 2 steps back- 'C:users'

### importing a .csv file

In [6]:
univ= pd.read_csv('Universities.csv')
univ

            Univ State   SAT  Top10  Accept  SFRatio Expenses  GradRate
0          Brown    RI  1310     89      22       13   22,704        94
1        CalTech    CA  1415    100      25        6   63,575        81
2            CMU    PA  1260     62      59        9   25,026        72
3       Columbia    NY  1310     76      24       12   31,510        88
4        Cornell    NY  1280     83      33       13   21,864        90
5      Dartmouth    NH  1340     89      23       10   32,162        95
6           Duke    NC  1315     90      30       12   31,585        95
7     Georgetown    DC  1255     74      24       12   20,126        92
8        Harvard    MA  1400     91      14       11   39,525        97
9   JohnsHopkins    MD  1305     75      44        7   58,691        87
10           MIT    MA  1380     94      30       10   34,870        91
11  Northwestern    IL  1260     85      39       11   28,052        89
12     NotreDame    IN  1255     81      42       13   15,122        94
13     PennState    PA  1081     38      54       18   10,185        80
14     Princeton    NJ  1375     91      14        8   30,220        95
15        Purdue    IN  1005     28      90       19    9,066        69
16      Stanford    CA  1360     90      20       12   36,450        93
17      TexasA&M    TX  1075     49      67       25    8,704        67
18    UCBerkeley    CA  1240     95      40       17   15,140        78
19      UChicago    IL  1290     75      50       13   38,380        87
20     UMichigan    MI  1180     65      68       16   15,470        85
21         UPenn    PA  1285     80      36       11   27,553        90
22           UVA    VA  1225     77      44       14   13,349        92
23    UWisconsin    WI  1085     40      69       15   11,857        71
24          Yale    CT  1375     95      19       11   43,514        96

In [7]:
type(univ)

pandas.core.frame.DataFrame

In [8]:
#to read all columns we can use above.
#If you want to import a series use the following for any no of columns(mention column names in a list)(eg.usecols= ['Univ','State'])
#we need to say squeeze = True, to import as a series, else even if you try to get one column, it cosider as data frame
univ = pd.read_csv('Universities.csv', usecols=['Univ'], squeeze= True)
univ

0            Brown
1          CalTech
2              CMU
3         Columbia
4          Cornell
5        Dartmouth
6             Duke
7       Georgetown
8          Harvard
9     JohnsHopkins
10             MIT
11    Northwestern
12       NotreDame
13       PennState
14       Princeton
15          Purdue
16        Stanford
17        TexasA&M
18      UCBerkeley
19        UChicago
20       UMichigan
21           UPenn
22             UVA
23      UWisconsin
24            Yale
Name: Univ, dtype: object

In [9]:
type(univ)

pandas.core.series.Series

In [10]:
d = dict(univ)
d

{0: 'Brown',
 1: 'CalTech',
 2: 'CMU',
 3: 'Columbia',
 4: 'Cornell',
 5: 'Dartmouth',
 6: 'Duke',
 7: 'Georgetown',
 8: 'Harvard',
 9: 'JohnsHopkins',
 10: 'MIT',
 11: 'Northwestern',
 12: 'NotreDame',
 13: 'PennState',
 14: 'Princeton',
 15: 'Purdue',
 16: 'Stanford',
 17: 'TexasA&M',
 18: 'UCBerkeley',
 19: 'UChicago',
 20: 'UMichigan',
 21: 'UPenn',
 22: 'UVA',
 23: 'UWisconsin',
 24: 'Yale'}

In [11]:
l= list(univ)
l

['Brown',
 'CalTech',
 'CMU',
 'Columbia',
 'Cornell',
 'Dartmouth',
 'Duke',
 'Georgetown',
 'Harvard',
 'JohnsHopkins',
 'MIT',
 'Northwestern',
 'NotreDame',
 'PennState',
 'Princeton',
 'Purdue',
 'Stanford',
 'TexasA&M',
 'UCBerkeley',
 'UChicago',
 'UMichigan',
 'UPenn',
 'UVA',
 'UWisconsin',
 'Yale']

In [12]:
#If you want see only the values
univ.values

array(['Brown', 'CalTech', 'CMU', 'Columbia', 'Cornell', 'Dartmouth',
       'Duke', 'Georgetown', 'Harvard', 'JohnsHopkins', 'MIT',
       'Northwestern', 'NotreDame', 'PennState', 'Princeton', 'Purdue',
       'Stanford', 'TexasA&M', 'UCBerkeley', 'UChicago', 'UMichigan',
       'UPenn', 'UVA', 'UWisconsin', 'Yale'], dtype=object)

In [13]:
#To know the indices
new_series.index

Index(['apple', 'dog', 'carrot', 'dragon'], dtype='object')

In [14]:
new_series.unique

<bound method Series.unique of apple         fruit
dog          animal
carrot    vegitable
dragon        fruit
dtype: object>

In [15]:
new_series.is_unique

False

In [16]:
new_series.size

4

### Methods in series

In [17]:
#Can see first n no of rows or last 
univ.head(5)

0       Brown
1     CalTech
2         CMU
3    Columbia
4     Cornell
Name: Univ, dtype: object

In [18]:
univ.tail(5)

20     UMichigan
21         UPenn
22           UVA
23    UWisconsin
24          Yale
Name: Univ, dtype: object

In [19]:
#Sorting a Series
new_series.sort_index()

apple         fruit
carrot    vegitable
dog          animal
dragon        fruit
dtype: object

In [20]:
new_series.sort_values()

dog          animal
apple         fruit
dragon        fruit
carrot    vegitable
dtype: object

In [21]:
new_series.sort_index(ascending=False)

dragon        fruit
dog          animal
carrot    vegitable
apple         fruit
dtype: object

In [22]:
'apple'in new_series.index

True

## Access element

In [23]:
univ[1]

'CalTech'

In [24]:
univ[[1,3,5]]

1      CalTech
3     Columbia
5    Dartmouth
Name: Univ, dtype: object

In [27]:
univ[4:17:2]

4       Cornell
6          Duke
8       Harvard
10          MIT
12    NotreDame
14    Princeton
16     Stanford
Name: Univ, dtype: object

In [28]:
#fetch using name
new_series['apple']

'fruit'

In [50]:
new_series.get(key='apple')

'fruit'

In [33]:
new_series.get(key= 'E',default= 'Nothing found')

'Nothing found'

In [53]:
google = pd.read_csv('Google_Stock_Price.csv',squeeze=True)
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [54]:
google.count()

3012

In [70]:
num_ser = pd.Series([10,20,30,40,30])

In [58]:
num_ser.sum()

100

In [59]:
num_ser.min()

10

In [60]:
num_ser.max()

40

In [61]:
num_ser.std()

12.909944487358056

In [63]:
#Location of min value and max value_index
num_ser.idxmin()

0

In [65]:
num_ser.idxmax()

3

In [66]:
num_ser.mean()

25.0

In [72]:
num_ser.median()

30.0

In [71]:
num_ser.mode()

0    30
dtype: int64

In [73]:
num_ser.describe()

count     5.000000
mean     26.000000
std      11.401754
min      10.000000
25%      20.000000
50%      30.000000
75%      30.000000
max      40.000000
dtype: float64

In [74]:
#count of a vlaue, no of times a vlaue occur
num_ser.value_counts()

30    2
20    1
10    1
40    1
dtype: int64

## Writing a user defined function

In [76]:
def greet(name):
    print(f'hello {name}, good morning!')

In [80]:
greet('Mani')

hello Mani, good morning!

In [86]:
def add_num(a,b):
    return a+b

In [87]:
add_num(2,3)

5

## Diff between print and return

In [93]:
#Diffenece between print and return. We cannot store a print value and we can store a return value in avariable
def my_func(x):
    print(x**x)
sq1= my_func(4)

256

In [90]:
#No value is stored, as we used print
sq1

In [96]:
def my_func(x):
    return(x**x)
sq2= my_func(4)

In [98]:
#Value is stored in the variable as we stored
sq2

256

## Giving a doc_string to a function or help

In [104]:
#giving a description of a function on hoe to use, basically providing a help for the user defined function
def greet(name):
 
    '''
    prints a greeting
    parameeters: 
        name: str
    output:
        none(prints a greeting with given name)
    '''
    print(f'hello {name}, good morning!')

In [105]:
help(greet)

Help on function greet in module __main__:

greet(name)
    prints a greeting
    parameeters:
        name: str
    output:
        none(prints a greeting with given name)

In [119]:
def eval_stock(stock_price):
    if stock_price <300:
        result = 'Ok'
    elif stock_price >=300 and stock_price <600:
        result = 'satisfactory'
    else:
        result = 'awesome!'
    return result

In [112]:
google.apply(eval_stock).head(10)

0    Ok
1    Ok
2    Ok
3    Ok
4    Ok
5    Ok
6    Ok
7    Ok
8    Ok
9    Ok
Name: Stock Price, dtype: object

In [113]:
google.apply(eval_stock).tail()

3007    awesome!
3008    awesome!
3009    awesome!
3010    awesome!
3011    awesome!
Name: Stock Price, dtype: object

In [120]:
google.apply(eval_stock).value_counts()

Ok              1721
satisfactory    1011
awesome!         280
Name: Stock Price, dtype: int64